/*communs*/
body {
  box-sizing: border-box;
  margin: 0px;
  background-color: rgba(190, 217, 196, 0.221);
}

/* Header */
header, body {
  font-family: "raleway";
  line-height: 35px;
}

header {
  margin: 2%;
  display: flex;
  justify-content: space-between;
}
header nav {
  width: 60%;
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  gap: 25px;
  padding-left: 20px;
}
@media (max-width: 620px) {
  header nav ul {
    flex-direction: row;
    font-size: 15px;
    line-height: 25px;
  }
}
@media (max-width: 500px) {
  header nav ul {
    flex-direction: column;
    gap: 1px;
  }
}
header nav ul a {
  text-decoration: none;
  color: rgb(42, 68, 118);
}
header nav ul a:hover {
  color: rgb(255, 123, 0);
}

.banner {
  height: 500px;
  width: 100%;
  margin: auto;
  background-color: cornflowerblue;
  /*background-image:url("../images/images_mini/banniere_biplacejaune.jpg") ;*/
}
@media (max-width: 992px) {
  .banner {
    height: 400px;
  }
}
@media (max-width: 500px) {
  .banner {
    height: 350px;
  }
}
.banner banner_img {
  width: 100%;
  height: 100%;
}
.banner img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}
@media (max-width: 992px) {
  .banner img {
    height: 400px;
    transform: translate(-170px, 0);
  }
}
@media (max-width: 775px) {
  .banner img {
    transform: translate(-250px, 0);
  }
}
@media (max-width: 620px) {
  .banner img {
    transform: translate(-350px, 0px);
  }
}
@media (max-width: 500px) {
  .banner img {
    transform: translateX(-520px, 0px);
    height: 400px;
  }
}
.banner h1 {
  position: absolute;
  top: 140px;
  color: white;
  text-shadow: 5px 5px 5px rgb(60, 37, 114);
  font-family: "carter one";
  font-weight: 400;
  font-size: 45px;
  margin-left: 2%;
  margin-top: 20px;
  transform: translateY(5px);
  padding-bottom: 50px;
  line-height: 100px;
}
@media (max-width: 620px) {
  .banner h1 {
    font-size: 35px;
  }
}
@media (max-width: 420px) {
  .banner h1 {
    font-size: 30px;
    margin-top: 0px;
  }
}

.presentation {
  margin-top: 50px;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}
.presentation .presentation_premiertitre {
  font-family: "Carter One";
  color: rgb(42, 68, 118);
  line-height: 70px;
}
.presentation .presentation_premiertitre span {
  font-family: "Rock salt";
  color: red;
}
.presentation p {
  text-align: left;
  margin-left: 3%;
  margin-bottom: 70px;
  margin-top: 30px;
}
.presentation p .presentation_titre {
  font-weight: 600;
  font-size: 21px;
  font-style: italic;
  color: rgb(42, 68, 118);
}
.presentation .presentation_deuxiemetitre {
  font-family: "carter one";
  color: rgb(42, 68, 118);
  margin-top: 30px;
  margin-bottom: 60px;
}

.container_jorge_img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.jorge_img {
  margin: 5px 10px 5px 10px;
}

.img_carte {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 120px;
}

.interrogations {
  margin: 80px 3% 80px 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interrogations h2 {
  margin-left: 8%;
  text-align: center;
  font-family: "carter one";
  color: rgb(42, 68, 118);
}
.interrogations .faq {
  width: 100%;
  max-width: 1000px;
}
.interrogations .question {
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3%;
  border: 2px solid rgb(218, 247, 218);
  background-color: rgba(167, 203, 167, 0.76);
  border-radius: 10px;
  margin-top: 20px;
}
@media (max-width: 425px) {
  .interrogations .question {
    height: 70px;
  }
}
.interrogations .question p {
  margin-top: 22px;
  font-weight: 600;
  color: rgb(42, 68, 118);
  line-height: 30px;
}
@media (max-width: 444px) {
  .interrogations .question p {
    margin-top: 8px;
    font-weight: 600;
    font-size: 13px;
    line-height: 25px;
  }
}
@media (max-width: 444px) {
  .interrogations .question p {
    margin-top: 6px;
    font-size: 11px;
  }
}
@media (max-width: 444px) {
  .interrogations .question p {
    margin-top: 5px;
    font-size: 10px;
  }
}
.interrogations .question img {
  background-color: rgb(255, 123, 0);
  padding: 10px;
  margin-right: 1px;
  border-radius: 10px;
  transition: 0.5s;
}
.interrogations .question img:hover {
  background-color: cornflowerblue;
}
.interrogations .reponse {
  opacity: 0;
  width: 90%;
  height: 0px;
  margin-right: 2%;
  padding-left: 3%;
  border: 2px solid rgb(255, 123, 0);
  background-color: white;
  border-radius: 10px;
}
.interrogations .reponse p {
  padding: 2px 70px 2px 20px;
}

@-webkit-keyframes slidein {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 150px;
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 150px;
    opacity: 1;
  }
}
input[type=checkbox]:checked:checked + .reponse {
  -webkit-animation: slidein 1s forwards ease-in-out;
          animation: slidein 1s forwards ease-in-out;
}
input[type=checkbox]:checked:checked ~ img {
  transform: rotate(180deg);
  background-color: cornflowerblue;
}

.deltalab a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.deltalab a:hover {
  color: rgb(255, 123, 0);
}

.faq_image {
  margin-top: 60px;
}

.scrollup {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background-color: rgb(239, 241, 247);
  position: fixed;
  bottom: 0;
  right: 0;
}
.scrollup img {
  background-color: cornflowerblue;
  transform: translate(7px, 7px);
}

footer {
  background-color: rgb(38, 79, 119);
  height: 150px;
  color: white;
}
footer ul {
  padding-left: 0px;
  display: flex;
  font-weight: 600;
  justify-content: space-evenly;
  gap: 2%;
}
footer ul li {
  list-style-type: none;
  padding-top: 50px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li a:hover {
  color: rgb(255, 123, 0);
}

/*VERSION GRAND ECRAN > 1380px : changer bg position de photo de banniere*/
/* VERSION TABLETTE 
@media screen and (max-width:768px)

*//*# sourceMappingURL=style.css.map */